.arrow-right {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;

  border-left: 14px solid grey;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;

  border-right: 14px solid grey;
}
